<c-row class="mb-3">
  <c-col class="d-flex align-items-center justify-content-end" sm="12">
    <button cButton color="success">
      <svg cIcon name="cil-plus"></svg>
      {{ "COMMON.NEW" | translate }}
    </button>
  </c-col>
</c-row>

<c-row class="mb-3">
  <c-col sm="12">
    <p>
      {{ "VIEW.ROLES.DETAIL.USER.DESCRIPTION" | translate }}
    </p>
  </c-col>

  <c-smart-table
    activePage="1"
    [columnFilter]="true"
    [columnSorter]="true"
    header
    [itemsPerPage]="10"
    [items]="data"
    pagination
    [tableProps]="{ hover: true, striped: true, responsive: true }"
  >
  </c-smart-table>
</c-row>
