<c-row class="mb-3">
  <c-col class="d-flex align-items-center justify-content-end" sm="12">
    <button cButton color="success">
      <svg cIcon name="cil-plus"></svg>
      {{ "COMMON.NEW" | translate }}
    </button>
  </c-col>
</c-row>

<c-row class="mb-3">
  <c-col sm="8">
    <p>
      {{ "VIEW.ROLES.DETAIL.PERMISSION.DESCRIPTION" | translate }}
    </p>
  </c-col>
</c-row>

<c-smart-table
  #smartTable="cSmartTable"
  activePage="1"
  [columnFilter]="true"
  [columnSorter]="true"
  [columns]="columns"
  header
  [itemsPerPage]="10"
  [items]="data"
  pagination
  [tableProps]="{ hover: true, striped: true, responsive: true }"
  [noItemsLabel]="'GENERIC.NO_ITEMS' | translate"
>
  <ng-template
    cTemplateId="tableData"
    let-columnName="columnName"
    let-item="item"
    let-tdContent="tdContent"
  >
    <td
      [cTableActive]="smartTable.tableDataCellProps(item, columnName)?.['active']"
      [cTableColor]="smartTable.tableDataCellProps(item, columnName)?.color"
      [cAlign]="smartTable.tableDataCellProps(item, columnName)?.align"
      [ngClass]="smartTable.tableDataCellClasses(item, columnName)"
    >
      <ng-container [ngSwitch]="columnName">
        <ng-container *ngSwitchCase="'show'" class="py-2">
          <div style="float: right">
            <betx-action-menu
              (onDeleteClick)="deleteRow(item.id)"
            ></betx-action-menu>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ tdContent }}
        </ng-container>
      </ng-container>
    </td>
  </ng-template>
</c-smart-table>
