<c-container>
  <h3 class="mb-3">{{ "LOGIN.PASSWORD_CHANGE_FORM.TITLE" | translate }}</h3>
  <form [formGroup]="form" (ngSubmit)="changePassword()" cForm>
    <div class="mb-3">
      <c-input-group class="flex-nowrap">
        <span cInputGroupText id="addon-wrapping"
          ><svg cIcon name="cilLockLocked" size="s"></svg>
        </span>
        <input
          [valid]="true"
          formControlName="newPassword"
          cFormControl
          [placeholder]="'LOGIN.PASSWORD_CHANGE_FORM.NEW_PASSWORD' | translate"
        />
      </c-input-group>
    </div>

    <div class="mb-3">
      <c-input-group class="flex-nowrap">
        <span cInputGroupText id="addon-wrapping">
          <svg cIcon name="cilLockLocked" size="s"></svg>
        </span>
        <input
          [valid]="true"
          formControlName="confirmPassword"
          type="password"
          cFormControl
          [placeholder]="
            'LOGIN.PASSWORD_CHANGE_FORM.CONFIRM_NEW_PASSWORD' | translate
          "
        />
      </c-input-group>
    </div>
    <div class="mb-3">
      <p *ngIf="isSubmitted && !form.valid" class="text-danger">
        {{ "LOGIN.LOGIN_FORM.FORM_VALIDATION_FAIL_REQUIRED" | translate }}
      </p>
      <p *ngIf="isSubmitted" class="text-danger">
        {{ "LOGIN.LOGIN_FORM.FORM_VALIDATION_FAIL" | translate }}
      </p>
    </div>
    <button
      [disabled]="isLoading"
      cButton
      class="align-items-center"
      shape="rounded-0"
      type="submit"
    >
      <c-spinner *ngIf="isLoading" size="sm"></c-spinner>
      {{ "LOGIN.PASSWORD_CHANGE_FORM.SUBMIT_NEW_PASSWORD" | translate }}
    </button>
  </form>
</c-container>
