<!--sidebar-->
<c-sidebar
  #sidebar1="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar1"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/img/logo-reverse.png',
      width: 160,
      height: 80,
      alt: 'Betx Logo'
    }"
    [brandNarrow]="{
      src: 'assets/img/logo-reverse.png',
      width: 40,
      height: 20,
      alt: 'Betx Logo'
    }"
    [routerLink]="['home']"
  />

  <ng-scrollbar pointerEventsMethod="scrollbar">
    <c-sidebar-nav [navItems]="navItems" dropdownMode="close" />
  </ng-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar1.narrow"
    cSidebarToggle="sidebar1"
    toggle="unfoldable"
  />
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <betx-header></betx-header>
  <div class="body flex-grow-1 px-3 py-5">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet />
    </c-container>
  </div>
</div>
