<h1 class="mb-4">{{ "VIEW.ROLES.NEW.TITLE" | translate }}</h1>

<form #form="ngForm" cForm [formGroup]="roleFormGroup" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label cLabel for="inputEmail-1">{{
      "VIEW.ROLES.LIST.NAME" | translate
    }}</label>
    <input cFormControl type="text" formControlName="name" />
    <p
      *ngIf="
        roleFormGroup.get('name')?.dirty &&
        roleFormGroup.get('name')?.errors?.['required']
      "
      class="text-danger mt-3"
    >
      {{ "VALIDATION.REQUIRED" | translate }}
    </p>
  </div>
  <div class="mb-3">
    <label cLabel>{{ "VIEW.ROLES.LIST.EXPIRES_AT" | translate }}</label>
    <c-date-picker closeOnSelect formControlName="expiresAt" />
    <p
      *ngIf="
        roleFormGroup.get('expiresAt')?.dirty &&
        roleFormGroup.get('expiresAt')?.errors?.['minDate']
      "
      class="text-danger mt-3"
    >
      {{ "VALIDATION.DATE_MUST_BE_FUTURE" | translate }}
    </p>
  </div>
  <div class="d-flex justify-content-end">
    <button
      type="submit"
      [loading]="isLoading"
      cLoadingButton
      disabledOnLoading
      [disabled]="roleFormGroup.invalid"
    >
      {{ "COMMON.SAVE" | translate }}
    </button>
  </div>
</form>
