<c-container>
  <h3 class="mb-3">{{ "LOGIN.FORGOT_PASSWORD_FORM.TITLE" | translate }}</h3>
  <p cFormText>{{ "LOGIN.FORGOT_PASSWORD_FORM.FORM_HELP" | translate }}</p>

  <form [formGroup]="form" (ngSubmit)="sendChangePasswordLink()" cForm>
    <div class="mb-3">
      <c-input-group class="flex-nowrap">
        <span cInputGroupText id="addon-wrapping"
          ><svg cIcon name="cilEnvelopeOpen" size="s"></svg>
        </span>
        <input
          [valid]="getIsValidValueFor('username')"
          formControlName="username"
          cFormControl
          [placeholder]="'LOGIN.FORGOT_PASSWORD_FORM.USERNAME' | translate"
        />
      </c-input-group>
    </div>

    <div class="mb-3">
      <p *ngIf="isSubmitted && !form.valid" class="text-danger">
        {{
          "LOGIN.FORGOT_PASSWORD_FORM.FORM_VALIDATION_FAIL_REQUIRED" | translate
        }}
      </p>
      <p *ngIf="isSubmitted && isLoginFailed" class="text-danger">
        {{ "LOGIN.FORGOT_PASSWORD_FORM.FORM_VALIDATION_FAIL" | translate }}
      </p>
    </div>

    <c-row>
      <c-col class="text-left" lg="12">
        <button cButton color="link" (click)="goToLogin()">
          {{ "LOGIN.FORGOT_PASSWORD_FORM.BACK_TO_LOGIN" | translate }}
        </button>
      </c-col>
      <c-col class="text-right" lg="12">
        <button
          [disabled]="isLoading || isLoginButtonDisabled()"
          cButton
          class="align-items-center"
          shape="rounded-0"
          type="submit"
        >
          <c-spinner *ngIf="isLoading" size="sm"></c-spinner>
          {{ "LOGIN.FORGOT_PASSWORD_FORM.SEND" | translate }}
        </button>
      </c-col>
    </c-row>
  </form>
</c-container>
