<c-row>
  <c-col class="text-right">
    <button color="danger" variant="ghost" size="sm" cButton>
      <svg cIcon width="24" [name]="icons.cilDelete"></svg>
    </button>
  </c-col>
</c-row>
<c-smart-table
  activePage="1"
  [loading]="isLoading"
  [columnFilter]="true"
  [columnSorter]="true"
  [columns]="columns"
  header
  [itemsPerPage]="10"
  [items]="data"
  pagination
  [tableProps]="{ hover: true, striped: true, responsive: true }"
  selectable="true"
  [noItemsLabel]="'GENERIC.NO_ITEMS' | translate"
>
</c-smart-table>
