<c-row>
  <c-col class="text-right">
    <button color="danger" variant="ghost" size="sm" cButton>
      <svg cIcon width="24" [name]="icons.cilDelete"></svg>
    </button>
  </c-col>
</c-row>
<c-smart-table
  #smartTable="cSmartTable"
  activePage="1"
  [loading]="isLoading"
  [columnFilter]="true"
  [columnSorter]="true"
  [columns]="columns"
  header
  [itemsPerPage]="10"
  [items]="data"
  pagination
  [tableProps]="{ hover: true,  responsive: true }"
  selectable="true"
  [noItemsLabel]="'GENERIC.NO_ITEMS' | translate"
>
  <ng-template
    cTemplateId="tableData"
    let-columnName="columnName"
    let-item="item"
    let-tdContent="tdContent"
  >
    <td
      [cTableActive]="smartTable.tableDataCellProps(item, columnName)?.['active']"
      [cTableColor]="smartTable.tableDataCellProps(item, columnName)?.color"
      [cAlign]="smartTable.tableDataCellProps(item, columnName)?.align"
      [ngClass]="smartTable.tableDataCellClasses(item, columnName)"
    >
      <ng-container [ngSwitch]="columnName">
        <ng-container *ngSwitchCase="'show'" class="py-2">
          <button cButton color="dark" variant="ghost" size="sm">
            <svg cIcon width="24" [name]="icons.cilOptions"></svg>
          </button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ tdContent }}
        </ng-container>
      </ng-container>
    </td>
  </ng-template>
</c-smart-table>
