<c-row class="mb-4">
  <c-col>
    <button
      [routerLink]="['/role/new']"
      color="success"
      variant="ghost"
      cButton
    >
      <svg cIcon name="cil-plus"></svg>
      {{ "COMMON.NEW" | translate }}
    </button>
  </c-col>
</c-row>
<c-smart-table
  #smartTable="cSmartTable"
  activePage="1"
  [loading]="isLoading"
  [columnFilter]="true"
  [columnSorter]="true"
  [columns]="columns"
  header
  [itemsPerPage]="10"
  [items]="data"
  pagination
  [tableProps]="{ hover: true, responsive: true }"
  selectable="true"
  [noItemsLabel]="'GENERIC.NO_ITEMS' | translate"
>
  <ng-template
    cTemplateId="tableData"
    let-columnName="columnName"
    let-item="item"
    let-tdContent="tdContent"
  >
    <td
      [cTableActive]="smartTable.tableDataCellProps(item, columnName)?.['active']"
      [cTableColor]="smartTable.tableDataCellProps(item, columnName)?.color"
      [cAlign]="smartTable.tableDataCellProps(item, columnName)?.align"
      [ngClass]="smartTable.tableDataCellClasses(item, columnName)"
    >
      <ng-container [ngSwitch]="columnName">
        <ng-container *ngSwitchCase="'show'" class="py-2">
          <betx-action-menu
            (onEditClick)="onEditRowClick(item.id)"
            (onDeleteClick)="onDeleteRowClick(item.id, item.name)"
          ></betx-action-menu>
        </ng-container>
        <ng-container *ngSwitchCase="'expiresAt'" class="py-2">
          {{ item.expiresAt + "Z" | date : "fullDate" }}
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ tdContent }}
        </ng-container>
      </ng-container>
    </td>
  </ng-template>
</c-smart-table>
