<h1 class="mb-4">{{ "VIEW.USERS.NEW.TITLE" | translate }}</h1>

<c-row>
  <form [formGroup]="newUserForm" (ngSubmit)="createNewUser()" cForm>
    <div class="mb-3">
      <label cLabel for="inputEmail-1">Email address</label>
      <input formControlName="email" cFormControl type="email" />
    </div>

    <div class="mb-3">
      <label cLabel for="inputEmail-1">Username</label>
      <input formControlName="username" cFormControl />
    </div>
    <div class="mb-3">
      <label cLabel for="inputEmail-1">User Type Id</label>
      <input formControlName="userTypeId" cFormControl />
    </div>
    <div class="mb-4">
      <label cLabel for="inputPassword-1">Password</label>
      <input formControlName="password" cFormControl type="password" />
    </div>
    <div class="d-flex justify-content-end">
      <button
        type="submit"
        disabledOnLoading
        [loading]="isLoading"
        cLoadingButton
      >
        {{ "COMMON.SAVE" | translate }}
      </button>
    </div>
  </form>
</c-row>
